<app-header></app-header>
<!-- ======= Hero Section ======= -->
<!-- ======= Why Us Section ======= -->
<br>
<section id="hero">
  <div class="container">
    <h1 style="color:black">Bienvenue à Arena Recouv</h1>
    <h2 style="color:black">Vous devez gérer votre processus de recouvrement bancaire !</h2>
<br><br>
    <div class="row g-2">
      <div class="col-md">

        <br>
        <a href="consultationGenerale" role="button" type="button" class="btn btn-primary"
          style=" width: 300px; height: 50px; padding: 12px; font-weight: bold; ">Consultation Génerale</a>
        <br>
        <br>
        <a href="procedurejudic" type="button" role="button" class="btn btn-primary"
          style="width: 300px; height: 50px; padding: 12px; font-weight: bold;">Procédure Judiciaire (Affaire)</a>
      </div>
      <div class="col-md">
        <br>
        <a href="proceduremission" type="button" role="button" class="btn btn-primary"
          style="width: 300px; height: 50px; padding: 12px; font-weight: bold;">Procédure Judiciaire (Mission)</a>
        <br>
        <br>
        <a href="risque" type="button" role="button" class="btn btn-primary"
          style="width: 300px; height: 50px; padding: 12px; font-weight: bold;">Risque</a>
      </div>
      <div class="col-md">
        <br>
        <a href="action" type="button" role="button" class="btn btn-primary"
          style="width: 300px; height: 50px; padding: 12px; font-weight: bold;">Historique (actions)</a>
        <br>
        <br>
        <a href="agent" type="button" role="button" class="btn btn-primary"
          style="width: 300px; height: 50px; padding: 12px; font-weight: bold;">Agents</a>
      </div>
    </div>
  </div>
</section><!-- End Hero -->
<main id="main">
<section id="why-us" class="why-us">
  <div class="container">

    <div class="row">
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="content">
          <h3 style="color:black">Pourquoi choisir Arena Recouv?</h3>
          <p>
            Arena Recouv est la solution idéale pour optimiser le processus de recouvrement bancaire.
            Notre plateforme offre une approche innovante et complète pour gérer efficacement les créances et les
            litiges des institutions financières
          </p>
        </div>
      </div>
      <div class="col-lg-8 d-flex align-items-stretch">
        <div class="icon-boxes d-flex flex-column justify-content-center">
          <div class="row">
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-receipt"></i>
                <h4>Performances Éprouvées </h4>
                <p>Notre logiciel a été conçu par des experts en recouvrement, et il est utilisé avec succès depuis de
                  nombreuses années par des acteurs majeurs du secteur bancaire. Arena Recouv a fait ses preuves en
                  améliorant considérablement les taux de recouvrement et en réduisant les délais de paiement.</p>
              </div>
            </div>
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-cube-alt"></i>
                <h4>Analyse et Rapports</h4>
                <p> Notre plateforme fournit des analyses détaillées et des rapports personnalisés pour vous aider à
                  prendre des décisions éclairées. Vous pouvez
                  suivre les performances de votre équipe, identifier les tendances de recouvrement et ajuster vos
                  stratégies en conséquence</p>
              </div>
            </div>
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-images"></i>
                <h4>Sécurité et Confidentialité </h4>
                <p>Nous comprenons l'importance de la sécurité des données dans le secteur financier. Arena Recouv
                  assure la sécurité et la confidentialité de toutes les informations sensibles,
                  conformément aux normes de sécurité les plus strictes.</p>
              </div>
            </div>
          </div>
        </div><!-- End .content-->
      </div>
    </div>

  </div>

</section><!-- End Why Us Section -->
<!--<script>
  function isElementInViewport(el) {
    var rect = el.getBoundingClientRect();
    return (
      rect.top >= 0 &&
      rect.left >= 0 &&
      rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
      rect.right <= (window.innerWidth || document.documentElement.clientWidth)
    );
  }

  function animateCountersOnScroll() {
    var counters = document.querySelectorAll('.numbers__window__digit');
    counters.forEach(function (counter) {
      if (isElementInViewport(counter)) {
        // Ajoutez la classe pour déclencher l'animation
        counter.classList.add('start-counting');
      }
    });
  }

  // Événement de défilement pour déclencher l'animation lorsqu'on atteint la section "Counts"
  window.addEventListener('scroll', animateCountersOnScroll);
</script>-->

 <!-- ======= Counts Section ======= -->
 <section id="counts" class="counts" style="height: 400px;">
  <div class="container">

    <div class="row">

      <div class="col-lg-3 col-md-6">
        <div class="count-box">
          <i class="fas fa-user-md"></i>
          <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span>
          <p>Années d'expérience</p>
          
        </div>
        <div style="width: 50%;" class="numbers">
          <span class="numbers__window">
            <span  class="numbers__window__digit numbers__window__digit--1" data-fake="5207186394">17</span>
        </span>
        </div>
      </div>
    

      <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
        <div class="count-box">
          <i class="far fa-hospital"></i>
          <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1" class="purecounter"></span>
          <p>Partenaires</p>
        </div>
        <div style="width: 50%;" class="numbers">
          <span class="numbers__window">
            <span  class="numbers__window__digit numbers__window__digit--2" data-fake="5207186394">9</span>
        </span>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <i class="fas fa-flask"></i>
          <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
          <p>Certificats</p>
        </div>
        <div style="width: 50%;" class="numbers">
          <span class="numbers__window">
            <span  class="numbers__window__digit numbers__window__digit--3" data-fake="5207186394">6</span>
        </span>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <i class="fas fa-award"></i>
          <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
          <p>Prix</p>
        </div>
        <div style="width: 50%;" class="numbers">
          <span class="numbers__window">
            <span  class="numbers__window__digit numbers__window__digit--3" data-fake="5207186394">2</span>
        </span>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Counts Section -->
 <!-- ======= Gallery Section ======= -->
 <section id="gallery" class="gallery">
  <div class="container">

    <div class="section-title">
      <h2>Nos partenaires</h2>
      <p>Nos partenaires jouent un rôle essentiel dans notre capacité à offrir une solution complète et innovante de gestion de créances. Leurs compétences, leurs connaissances spécialisées et leur engagement envers l'excellence nous permettent de fournir à nos clients une plateforme de recouvrement de haute qualité et efficace.</p>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row g-0">

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
         
            <img src="https://cdn2.webmanagercenter.com/wmc/wp-content/uploads/2019/07/bh-bank-new-logo.jpg" alt="" class="img-fluid">
        
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
         
            <img src="https://www.entreprises-magazine.com/wp-content/uploads/2021/07/LOGO-ATTIJARI-BANK-pdf.jpg" alt="" class="img-fluid">
      
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
         
            <img src="https://d7ieeqxtzpkza.cloudfront.net/wp-content/uploads/2020/10/logo-BNA.png" alt="" class="img-fluid">
         
        </div>
      </div>


    </div>

  </div>
</section><!-- End Gallery Section -->







</main><!-- End #main -->