 <!-- ======= Top Bar ======= -->
 <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope"></i> <a >ArenaRecouv@gmail.com</a>
        <i class="bi bi-phone"></i> +216 123 123 55
      </div>
    <!--<div class="d-none d-lg-flex social-links align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>-->  
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="home">Arena Recouv</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <!-- .navbar -->
<!--      <a *ngIf="!idCurrentUser" routerLink="/login" class="appointment-btn scrollto"><span class="d-none d-md-inline"></span> Login</a>-->
<!--      <a *ngIf="!idCurrentUser" routerLink="/register" class="appointment-btn scrollto"><span class="d-none d-md-inline"></span> Register</a>-->
<a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="consultationGenerale" >Consultation Generale</a> &nbsp;&nbsp;&nbsp;
<a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="procedurejudic" >Affaire</a>&nbsp;&nbsp;&nbsp;
<a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="proceduremission" >Mission</a>&nbsp;&nbsp;&nbsp;
<a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="risque" >Risque</a>&nbsp;&nbsp;&nbsp;
<a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="action" >Action</a>&nbsp;&nbsp;&nbsp;
<a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="agent" >Agent</a>&nbsp;&nbsp;&nbsp;
    </div>
  </header><!-- End Header -->

